@use 'variables' as *;
.boutique-main { background: $light-blue; min-height: calc(100vh - 70px); padding: 50px 20px 70px; }
.btn-toggle-dispo { background: $light-blue; border: 1px solid $border-blue; color: $primary-blue; }
.btn-delete-produit { background: #FFF5F5; border: 1px solid #FCCACA; color: $danger-red; }